<div class="element-bg-img"><img src="assets/images/1.jpg" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li *ngFor="let item of types" [ngClass]="{'anc-bor': item === activeType}" (click)="setActiveType(item)">
        <a href="#{{item}}">{{item}}</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like about {{activeType}}</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <ng-hotels-item *ngFor="let item of list | async | filteredByType:activeType" [item]="item"></ng-hotels-item>
      </div>
    </div>
  </div>
</div>
<pre>{{list}}</pre>
