<div class="element-bg-img"><img src="assets/images/1.jpg" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li><a href="#">Hotel</a></li>
      <li><a href="#">Fishing</a></li>
      <li><a href="#">Tours</a></li>
      <li class="anc-bor"><a href="#">Weather</a></li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <ng-hotels-item *ngFor="let item of list | async " [item]="item"></ng-hotels-item>
      </div>
    </div>
  </div>
</div>
<pre>{{list}}</pre>
