<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
    <ng-hotels-list [list]="listItems" [activeItem]="activeItem" (cardChoosen)="activeItem = $event"></ng-hotels-list>
  </div>
  <div class="element-right">
    <ng-hotels-weather [weather]="activeItem.weather"></ng-hotels-weather>>
    <ng-hotels-selected-item [socialInfo]="activeItem.social_info"></ng-hotels-selected-item>
  </div>
  <div class="clear"> </div>
</div>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">
      W3layouts </a></p>
</div>
